*{
    padding: 0;
    margin: 0;
  }

  
  #content {
    display: flex;
    
    height: 100%;
    
  }

  .items{
    display: flex;  
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    width: 100%;
    
  }

.item{
 flex:10;
}