* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: bold;
}

#content {
  display: flex;
  width: 100%;
  height: 20px;
}

.items {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  width: inherit;
  text-align: center;
  background-color: #ff1b68;
  cursor: pointer;
}

.item {
  flex: 1;
}

.link {
  display: block;
  border-bottom: 1px solid #ff1b68;
  width: 50px;
  margin-left: 100px;
  display: none;
}

.show {
  display: block;
}
