* {
  padding: 0;
  margin: 0;
}

#content {
  border-bottom-style: double;
  border-color: purple;
}

#dropdown {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.item {
  border-style: double;
  border-color: red;
  flex: 1;
  position: relative;
}

a {
  display: block;
  flex-direction: column;
  background: yellow;
  border-style: dotted;
}

.link {
  display: none;
}

button {
  position: relative;
  text-align: center;
  font-weight: bold;
  background: salmon;
  border: none;
}

button:hover {
  background: lightyellow;
}

.show {
  display: block;
}
