body {
  font-family: Arial, Helvetica, sans-serif;
}

#product-overview {
  background: red;
}

.section-title {
  color: green;
}

#product-overview  h1{
  color: aqua;
  font-family: "Anton";
}
